:root {
  --main-red: #fe385b;
  --main-text: #222222;
  --subtitle-light-gray: #7b7b7b;
  --gray-border: #dddddd;
  --dark-gray-border: #a8a8a8;
  --left-right-padding: 160px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}